{% extends 'profiles/base.html' %}


{% block content %}

    

<div id="loginbox" style="margin-top:80px">            

    <form id="loginform" class="form-vertical" method="POST">
        {% csrf_token %}

         <div class="control-group normal_text"> <h3>E-commerce</h3></div>

        <div class="form-group" >
            {% if messages %}
              {% for message in messages %}
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                  {% endif %}
              {% endfor %}
            {% endif %}
        </div>
        
        
       
     
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <label for="{{ form.email.id_for_label_tag  }}">{{ form.email.label_tag }}</label>
                    <span class="add-on bg_lg"><i class="icon-envelope"></i> </span> {{ form.email }}
                    {{ form.email.errors }}
                    
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <label for="{{ form.first_name.id_for_label_tag  }}">{{ form.first_name.label_tag }}</label>
                    <span class="add-on bg_lg"><i class="icon-user"></i> </i></span> {{ form.first_name }}
                    {{ form.first_name.errors }}
                    
                </div>
            </div>
        </div>


        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <label for="{{ form.last_name.id_for_label_tag  }}">{{ form.last_name.label_tag }}</label>
                    <span class="add-on bg_lg"><i class="icon-user"></i> </i></span> {{ form.last_name }}
                    {{ form.last_name.errors }}
                    
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <label for="{{ form.password1.id_for_label_tag  }}">{{ form.password1.label_tag }}</label>
                    <span class="add-on bg_lg"><i class="icon-lock"></i> </i></span> {{ form.password1 }}
                    {{ form.password1.errors }}
                    
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <label for="{{ form.password2.id_for_label_tag  }}">{{ form.password2.label_tag }}</label>
                    <span class="add-on bg_lg"><i class="icon-lock"></i> </i></span> {{ form.password2 }}
                    {{ form.password2.errors }}
                    
                </div>
            </div>
        </div>

                       
    
  
       
  
        <div class="form-actions">
           
            
            <span class="pull-right"><button type="submit"  class="flip-link btn btn-info" id="to-register" /> Register</button></span>
            <span class="pull-left"> Already have an account ? <a href="#" class="flip-link btn btn-success" id="to-login">Login</a></span>
            
        </div>
    </form>
  
</div>

{% endblock %}

